.project-card {
  height: 100%;
  border-left: 4px solid #3f51b5;
  position: relative;
}

.card-delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}

.project-icon {
  color: #3f51b5;
  background-color: transparent;
}

.description {
  color: rgba(0,0,0,0.6);
  min-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.warn-text {
  color: #d32f2f;
}