<mat-nav-list class="sidenav-list">
  
  <div class="nav-item-wrapper">
    <a mat-list-item routerLink="/teams" routerLinkActive="active-link" class="google-nav-item">
      <mat-icon matListItemIcon>group_work</mat-icon>
      <span matListItemTitle>Teams</span>
    </a>
  </div>
  
  <div class="nav-item-wrapper">
    <a mat-list-item routerLink="/projects" routerLinkActive="active-link" class="google-nav-item">
      <mat-icon matListItemIcon>folder_open</mat-icon>
      <span matListItemTitle>Projects</span>
    </a>
  </div>
  
  <div class="nav-item-wrapper">
    <a mat-list-item routerLink="/tasks" routerLinkActive="active-link" class="google-nav-item">
       <mat-icon matListItemIcon>task_alt</mat-icon>
       <span matListItemTitle>Tasks</span>
    </a>
  </div>

</mat-nav-list>
